In [ ]:
#1
for y in range(1,6):
  if y==1:
    print("1  ")
  if y==2:
    print("2 2  ")
  if y==3:
    print("3 3 3 ")
  if y==4:
    print("4 4 4 4")
  if y==5:
    print("5 5 5 5 5")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#2
for y in range(1,6):
  if y==1:
    print("1  ")
  if y==2:
    print("1 2  ")
  if y==3:
    print("1 2 3 ")
  if y==4:
    print("1 2 3 4")
  if y==5:
    print("1 2 3 4 5 ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#3
for y in range(1,6):
  if y==1:
    print("1 1 1 1 1 ")
  if y==2:
    print("2 2 2 2 ")
  if y==3:
    print("3 3 3 ")
  if y==4:
    print("4 4 ")
  if y==5:
    print("5")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
#4
for y in range(1,6):
  if y==1:
    print("5 5 5 5 5  ")
  if y==2:
    print("5 5 5 5  ")
  if y==3:
    print("5 5 5 ")
  if y==4:
    print("5 5")
  if y==5:
    print("5")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
#5
for y in range(1,6):
  if y==1:
    print("0 1 2 3 4 5 ")
  if y==2:
    print("0 1 2 3 4  ")
  if y==3:
    print("0 1 2 3")
  if y==4:
    print("0 1 2")
  if y==5:
    print("0 1")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
#6
for y in range(1,6):
  if y==1:
    print("1 ")
  if y==2:
    print("3 3  ")
  if y==3:
    print("5 5 5 ")
  if y==4:
    print("7 7 7 7")
  if y==5:
    print("9 9 9 9 9")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
#7
for y in range(1,6):
  if y==1:
    print("5 5 5 5 5  ")
  if y==2:
    print("4 4 4 4 ")
  if y==3:
    print("3 3 3 ")
  if y==4:
    print("2 2")
  if y==5:
    print("1")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#8
for y in range(1,6):
  if y==1:
    print("1 ")
  if y==2:
    print("2 1")
  if y==3:
    print("3 2 1")
  if y==4:
    print("4 3 2 1")
  if y==5:
    print("5 4 3 2 1")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#8
for y in range(1,6):
  if y==1:
    print("5 4 3 2 1  ")
  if y==2:
    print("4 3 2 1 ")
  if y==3:
    print("3 2 1 ")
  if y==4:
    print("2 1")
  if y==5:
    print("1")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#9
for y in range(1,5):
  if y==1:
    print("1 ")
  if y==2:
    print("3 2  ")
  if y==3:
    print("6 5 4 ")
  if y==4:
    print("10 9 8 7")

1
3 2
6 5 4
10 9 8 7

In [ ]:
#10
for y in range(1,6):
  if y==1:
    print("        1 " )
  if y==2:
    print("      1 2  ")
  if y==3:
    print("    1 2 3 ")
  if y==4:
    print("  1 2 3 4")
  if y==5:
    print("1 2 3 4 5")

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
#11
for y in range(1,8):
  if y==1:
    print("1 ")
  if y==2:
    print("1 1")
  if y==3:
    print("1 2 1 ")
  if y==4:
    print("1 3 3 1")
  if y==5:
    print("1 4 6 4 1")
  if y==6:
    print("1 5 10 10 5 1")
  if y==7:
    print("1 6 15 20 15 6 1")

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
#12
for y in range(1,6):
  if y==1:
    print("1 2 3 4 5 ")
  if y==2:
    print("2 2 3 4 5 ")
  if y==3:
    print("3 3 3 4 5 ")
  if y==4:
    print("4 4 4 4 5")
  if y==5:
    print("5 5 5 5 5")

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
#13
for y in range(1,6):
  if y==1:
    print("5 5 5 5 5  ")
  if y==2:
    print("5 5 5 5  ")
  if y==3:
    print("5 5 5 ")
  if y==4:
    print("5 5")
  if y==5:
    print("5")

In [ ]:
#14
for y in range(1,9):
  if y==1:
    print("1 ")
  if y==2:
    print("2 4")
  if y==3:
    print("3 6 9")
  if y==4:
    print("4 8 12 16")
  if y==5:
    print("5 10 15 20 25")
  if y==6:
    print("6 12 18 24 30 36")
  if y==7:
    print("7 14 21 28 35 42 49")
  if y==8:
    print("8 16 24 32 40 48 56 64")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
#15
x=1
while x<6:
  if x==1:
    print("* ")
  elif x==2:
    print("* *")
  elif x==3:
    print("* * *   ")
  elif x==4:
    print("* * * *")
  else:
    print("* * * * * ")
  x=x+1

*
* *
* * *
* * * *
* * * * *

In [ ]:
#16
x=1
while x<6:
  if x==1:
    print("        * ")
  elif x==2:
    print("      * *")
  elif x==3:
    print("    * * *")
  elif x==4:
    print("  * * * *")
  else:
    print("* * * * * ")
  x=x+1

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#17
x=1
while x<6:
  if x==1:
    print("* * * * *")
  elif x==2:
    print("* * * *")
  elif x==3:
    print("* * *   ")
  elif x==4:
    print("* * ")
  else:
    print("*")
  x=x+1

* * * * *
* * * *
* * *
* *
*

In [ ]:
#18
x=1
while x<7:
  if x==1:
    print("* * * * * *")
  if x==2:
    print(" * * * * * ")
  if x==3:
    print("  * * * *  ")
  if x==4:
    print("   * * *   ")
  if x==5:
    print("    * *   ")
  if x==6:
    print("     *    ")
  x=x+1

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
#19
x=1
while x<6:
  if x==1:
    print(" ***** ")
  if x==2:
    print(" ****")
  if x==3:
    print(" ***")
  if x==4:
    print(" ** ")
  if x==5:
    print(" *")
  x=x+1

 *****
 ****
 ***
 **
 *

In [ ]:
#20
x=1
while x<14:
  if x==1 or x==13:
    print("*      ")
  if x==2 or x==12:
    print("* *   ")
  if x==3 or x==11:
    print("* * *  ")
  if x==4 or x==10:
    print("* * * * ")
  if x==5 or x==9:
    print("* * * * *  ")
  if x==6 or x==8:
    print("* * * * * *")
  else:
    print("            ")
  x=x+1

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * *
* * * * *

* * * *

* * *

* *

*