In [1]:
#1 Write a Python program to loop through all the elements in a list. input:[1,2,3,4,5,6]
x=[1,2,3,4,5,6]
for y in x:
  print(y)

1
2
3
4
5
6

In [2]:
#3 Write a Python program to remove all the odd index value from a list and only even index elements should remain Ex: Input: [1,2,3,4,5,6,7,”a”] Output: [1,3,5,7]
x=[1,2,3,4,5,6,7,"a"]
z=[]
i=0
while i<=6:
  if i%2==0:
    a=x[i]
    z.append(a)
  i=i+1
print(z)

[1, 3, 5, 7]

In [6]:
#4 Write a Python program to sum and multiply all the items in a list Ex: Input: [1,2,3,4] Output: sum: -10 Product: -24
y=[]
sum=0
product=1
for z in range(0,4):
  ele=int(input("element:"))
  y.append(ele)
  sum=sum+ele
  product=product*ele
print(y)
print("sum=",sum)
print("product=",product)

element:1
element:2
element:3
element:4
[1, 2, 3, 4]
sum= 10
product= 24

In [24]:
#5 maximum number in list
x=[]
for y in range(0,5):
  ele=int(input("enter ele:"))
  x.append(ele)
print(x)
if x[0]>x[1] and x[0]>x[2] and x[0]>x[3] and x[0]>x[4] :
    print("max=",x[0])
elif x[1]>x[0] and x[1]>x[2] and x[1]>x[3] and x[1]>x[4] :
    print("max=",x[1])
elif x[2]>x[1] and x[2]>x[0] and x[2]>x[3] and x[2]>x[4] :
    print("max=",x[2])
elif x[3]>x[1] and x[3]>x[2] and x[3]>x[0] and x[3]>x[4] :
    print("max=",x[3])
else:
    print("max",x[4])

enter ele:8
enter ele:4
enter ele:11
enter ele:7
enter ele:90
[8, 4, 11, 7, 90]
max 90

In [25]:
#5 minimum number in a list
x=[]
for y in range(0,5):
  ele=int(input("enter ele:"))
  x.append(ele)
print(x)
if x[0]<x[1] and x[0]<x[2] and x[0]<x[3] and x[0]<x[4] :
    print("min=",x[0])
elif x[1]<x[0] and x[1]<x[2] and x[1]<x[3] and x[1]<x[4] :
    print("min=",x[1])
elif x[2]<x[1] and x[2]<x[0] and x[2]<x[3] and x[2]<x[4] :
    print("min=",x[2])
elif x[3]<x[1] and x[3]<x[2] and x[3]<x[0] and x[3]<x[4] :
    print("min=",x[3])
else:
    print("min",x[4])

enter ele:8
enter ele:4
enter ele:11
enter ele:7
enter ele:90
[8, 4, 11, 7, 90]
min= 4

In [14]:
#6 Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
x=["red","green","white","black","yellow","pink"]
if x[0]:
  x.pop(0)
if x[4]:
  x.pop(4)
if x[3]:
  x.pop(3)
print(x)

['green', 'white', 'black']

In [15]:
#7 Write a Python program to convert a list of characters into a string.
x=['p','y','t','h','o','n']
z=""
for y in x:
  z=z+str(y)
print(z)

python

In [17]:
#8 Write a Python program to compute average of given lists.
x=[1,2,3,4]
y=[10,20,30,40]
p=x+y
sum=0
avg=1
for a in p:
  sum=sum+int(a)
avg=sum/len(p)
print(avg)

13.75

In [22]:
#9.Write a python program to count integers in a given mixed list.
x= [10,"a",2,3,5.5,1.34,"abc","rt"]
z=0
for y in x:
  if isinstance(y,int):
    z=z+1
print("integers:",z)

integers: 3

In [19]:
#10.Write a python program to reverse a given list.
x=["a","b","c",1,2,3]
y=[]
i=-1
for a in x:
  y.insert(i,a)
  i=i-1
print(y)

[3, 2, 1, 'c', 'b', 'a']

In [20]:
#11.Write a python program to constuct a given string to a tuple
x="python1.2"
z=""
for y in x:
  z=z+y
  a=tuple(z)
print(a)

('p', 'y', 't', 'h', 'o', 'n', '1', '.', '2')