date: 13-08-23                                       ASSIGNMENT-*1*

In [ ]:
#1. write a python program to convert a string to lower case
x="COMPUTER"
x.lower()

'computer'

In [ ]:
#2. write a python program to convert only odd indexed characters to lower case
x="COMPUTER"
x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()+x[6]+x[7].lower()

'CoMpUtEr'

In [ ]:
#3. write a python program to convert only even indexed characters to lower case
x="COMPUTER"
x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]+x[6].lower()+x[7]

'cOmPuTeR'

In [ ]:
#4. write a python program to convert only odd index characters to upper case
x="computer"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()+x[6]+x[7].upper()

'cOmPuTeR'

In [ ]:
#5. write a program to convert only even indexed characters to upper case
x="computer"
x[0].upper()+x[1]+x[2].upper()+x[3]+x[4].upper()+x[5]+x[6].upper()+x[7]

'CoMpUtEr'

In [ ]:
#6. write a python where you have different variable which contains your name,sex,age,phone no,fathers name and mothers name
name=input("enter your name:")
age=input("enter your age:")
phone_no=input("enter your phone_no:")
father_name=input("enter your father name:")
mother_name=input("enter your mother name:")

enter your name:sannidhi
enter your age:19
enter your phone_no:6347873248
enter your father name:satyanarayana
enter your mother name:varalakshmi

In [ ]:
#7. write a python program to count how many times "@" occured
x="fwye@@@2@hfhewuf@22rrfhr@"
x.count("@")

6

In [ ]:
#8. write a python program to get only names from the string
x="seeta-class9,neha-class9,ravi-class9"
x.replace("-class9","")

'seeta,neha,ravi'

In [ ]:
#9. write a string of odd length greater than 9,return a new string made of the middle three characters of given string
x="chinnbaachi"
x[4:7]

'nba'

In [ ]:
#10. write a python program to insert a 2 string in the middle of 1 string
x="drinks cool"
y=x.replace(" ","are")
print(y)

drinksarecool

In [ ]:
#11. write a program to remove vowels from the entire alphabets
x="abcdefghijklmnopqrstuvwxyz"
x1=x.replace("a","")
x2=x1.replace("e","")
x3=x2.replace("i","")
x4=x3.replace("o","")
x5=x4.replace("u","")
print(x5)

bcdfghjklmnpqrstvwxyz