In [ ]:
for y in range(1,6):
  if y==1:
    print("*****")
  elif y==2 or y==4 or y==5:
    print("*   *")
  else:
    print("*****")

*****
*   *
*****
*   *
*   *

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==4:
    print("*        *")
  else:
    print("* * * * *")

* * * * *
*        *
* * * * *
*        *
* * * * *

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==4 or y==3:
    print("*        ")
  else:
    print("* * * * *")

* * * * *
*
*
*
* * * * *

In [ ]:
for y in range(1,5):
  if y==1:
    print("* * * * *")
  elif y==2 or y==3:
    print("*         *")
  else:
    print("* * * * *")

* * * * *
*         *
*         *
* * * * *

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==4:
    print("*        ")
  else:
    print("* * * * *")

* * * * *
*
* * * * *
*
* * * * *

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==4 or y==5:
    print("*        ")
  else:
    print("* * * * *")

* * * * *
*
* * * * *
*
*

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2:
    print("*        ")
  elif y==3:
    print("*   * * *")
  elif y==4:
    print("*   *   *")
  else:
    print("* * *   *")

* * * * *
*
*   * * *
*   *   *
* * *   *

In [ ]:
for y in range(1,6):
  if y==1 or y==2 or y==4 or y==5:
    print("*         *")
  else:
    print("* * * * * *")

*         *
*         *
* * * * * *
*         *
*         *

In [ ]:
for y in range(1,6):
  if y==1 or y==5:
    print("* * * * *")
  else:
    print("    *    ")

* * * * *
    *
    *
    *
* * * * *

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==3:
    print("  *       ")
  elif y==4:
    print("  *      *")
  else:
    print("  * * * *")

* * * * *
  *
  *
  *      *
  * * * *

In [ ]:
for y in range(1,8):
  if y==1 or y==7:
    print("*       *")
  elif y==2 or y==6:
    print("*     *")
  elif y==3 or y==5:
    print("*   *")
  else:
    print("* *")

*       *
*     *
*   *
* *
*   *
*     *
*       *

In [ ]:
for y in range(1,6):
  if y==1 or y==2 or y==3 or y==4:
    print("*        ")
  else:
    print("* * * * *")

*
*
*
*
* * * * *

In [ ]:
for y in range(1,6):
  if y==1:
    print("*       *")
  elif y==2:
    print("* *   * *")
  elif y==4 or y==5:
    print("*       *")
  else:
    print("*   *   *")

*       *
* *   * *
*   *   *
*       *
*       *

In [ ]:
for y in range(1,6):
  if y==1:
    print("*       *")
  elif y==2:
    print("* *     *")
  elif y==3:
    print("*   *   *")
  elif y==4:
    print("*     * *")
  else:
    print("*       *")

*       *
* *     *
*   *   *
*     * *
*       *

In [ ]:
for y in range(1,5):
  if y==1:
    print("* * * * *")
  elif y==2 or y==3:
    print("*       *")
  else:
    print("* * * * *")

* * * * *
*       *
*       *
* * * * *

In [ ]:
for y in range(1,6):
  if y==1 or y==3:
    print("* * * *")
  elif y==4 or y==5:
    print("*      ")
  else:
    print("*     *")

* * * *
*     *
* * * *
*
*

In [ ]:
for y in range(1,6):
  if y==1:
    print("* * * * *")
  elif y==2 or y==3:
    print("*    *  *")
  elif y==5:
    print("          * ")
  else:
    print("* * * * *")

* * * * *
*    *  *
*    *  *
* * * * *
          *

In [ ]:
for y in range(1,6):
  if y==1 or y==3:
    print("* * *")
  else:
    print("*    *")

* * *
*    *
* * *
*    *
*    *

In [ ]:
for y in range(1,6):
  if y==1 or y==3 or y==5:
    print("* * * * *")
  elif y==2:
    print("*        ")
  else:
    print("        *")

* * * * *
*
* * * * *
        *
* * * * *

In [ ]:
for y in range(1,5):
  if y==1:
    print("* * * * *")
  else:
    print("    *    ")

* * * * *
    *
    *
    *

In [ ]:
for y in range(1,5):
  if y==1:
    print("*       *")
  elif y==2 or y==3:
    print("*       *")
  else:
    print("* * * * *")

*       *
*       *
*       *
* * * * *

In [ ]:
for y in range(1,4):
  if y==1:
    print("*     *")
  elif y==2:
    print(" *   * ")
  else:
    print("   *")

*     *
 *   *
   *

In [ ]:
for y in range(1,6):
  if y==1 or y==2:
    print("*       *")
  elif y==3:
    print("*   *   *")
  elif y==4:
    print("* *   * *")
  else:
    print("*       *")

*       *
*       *
*   *   *
* *   * *
*       *

In [ ]:
for y in range(1,6):
  if y==1 or y==5:
    print("*       *")
  elif y==2 or y==4:
    print("  *   *")
  else:
    print("    *  ")

*       *
  *   *
    *
  *   *
*       *

In [ ]:
for y in range(1,7):
  if y==1:
    print("*       *")
  elif y==2:
    print("  *    *")
  elif y==3:
    print("    * *")
  elif y==4:
    print("     *")
  elif y==5:
    print("    *")
  else:
    print("   *")

*       *
  *    *
    * *
     *
    *
   *

In [ ]:
for y in range(1,5):
  if y==1 or y==4:
    print("* * * *")
  elif y==2:
    print("    *")
  else:
    print("  *")

* * * *
    *
  *
* * * *

SMALL LETTERS FROM a to z

In [9]:
x=1
while x<6:
  if x==1:
    print("   * * * ")
  elif x==2:
    print("  *      * ")
  elif x==3:
    print(" *        *")
  elif x==4:
    print("  *       *    *")
  else:
    print("    * * *   * * ")
  x=x+1

   * * *
  *      *
 *        *
  *       *    *
    * * *   * *

In [11]:
x=1
while x<7:
  if x==1 or x==2 or x==3:
    print("*      ")
  elif x==4 or x==6:
    print("* * *")
  else:
    print("*   *")
  x=x+1

*
*
*
* * *
*   *
* * *

In [18]:
x=1
while x<5:
  if x==1:
   print("      * * * *")
  elif x==2:
   print("    *       ")
  elif x==3:
    print("*    *    ")
  else:
    print("  * * *  * * ")
  x=x+1

      * * * *
    *
*    *
  * * *  * *

In [21]:
x=1
while x<7:
  if x==1 or x==2 or x==3:
    print("    *")
  elif x==4 or x==6:
    print("* * *")
  else:
    print("*   *")
  x=x+1

    *
    *
    *
* * *
*   *
* * *

In [22]:
x=1
while x<6:
  if x==4:
    print("*    ")
  elif x==2:
    print("*     *")
  elif x==3:
    print("* * * *")
  elif x==1:
    print("  * * ")
  else:
    print("  * * *")
  x=x+1

  * *
*     *
* * * *
*
  * * *

In [23]:
x=1
while x<7:
  if x==4:
    print("* * * *  ")
  elif x==2:
    print("  *   * ")
  elif x==1:
    print("   * *")
  else:
    print("  *")
  x=x+1

   * *
  *   *
  *
* * * *
  *
  *

In [24]:
x=1
while x<7:
  if x==5 or x==2:
   print("*      *")
  elif x==1 or x==6 or x==3:
    print("  * * * ")
  else:
    print("      *")
  x=x+1

  * * *
*      *
  * * *
      *
*      *
  * * *

In [26]:
x=1
while x<6:
  if x==3:
    print("* * * ")
  elif x==4 or x==5:
    print("*   *")
  else:
    print("*")
  x=x+1

*
*
* * *
*   *
*   *

In [28]:
x=1
while x<6:
  if x==1:
    print(" ** ")
  elif x==2:
    print(" ")
  else:
    print(" *  ")
  x=x+1

 **

 *
 *
 *

In [43]:
x=1
while x<8:
  if x==1:
    print("     0 ")
  elif x==2:
    print(" ")
  elif x==5 or x==6:
    print("*    *    *")
  elif x==7:
    print("* *    * *")
  else:
    print("     *  ")
  x=x+1

     0

     *
     *
*    *    *
*    *    *
* *    * *

In [36]:
x=1
while x<7:
  if x==1:
    print("*")
  elif x==2 or x==4:
    print("*  *")
  elif x==3:
    print("**")
  else:
    print("*   *")
  x=x+1

*
*  *
**
*  *
*   *
*   *

In [45]:
x=1
while x<8:
  if x==1 or x==2:
    print("     * ")
  elif x==5 or x==6:
    print("*    *    *")
  elif x==7:
    print("* *    * *")
  else:
    print("     *  ")
  x=x+1

     *
     *
     *
     *
*    *    *
*    *    *
* *    * *

In [46]:
x=1
while x<6:
  if x==3:
    print(" * * *")
  elif x==4 or x==5:
    print(" *   *")
  elif x==1:
    print("*   ")
  else:
    print(" * *  *")
  x=x+1

*
 * *  *
 * * *
 *   *
 *   *

In [47]:
x=1
while x<5:
  if x==1:
   print("*")
  elif x==2:
   print(" * *")
  else:
   print(" *   *")
  x=x+1

*
 * *
 *   *
 *   *

In [1]:
x=1
while x<4:
  if x==1 or x==3:
    print(" * *")
  else:
    print("*   *")
  x=x+1

 * *
*   *
 * *

In [2]:
x=1
while x<8:
  if x==3:
    print("*  *")
  elif x==2 or x==4:
    print("* *")
  else:
    print("*")
  x=x+1

*
* *
*  *
* *
*
*
*

In [4]:
x=1
while x<7:
  if x==2:
    print("*    *")
  elif x==3:
    print(" *  *")
  elif x==1:
    print("  * *")
  else:
    print("    *")
  x=x+1

  * *
*    *
 *  *
    *
    *
    *

In [8]:
x=1
while x<6:
  if x==1:
    print("*")
  elif x==2:
    print("* * *")
  elif x==3:
    print("*    *")
  else:
    print("*")
  x=x+1

*
* * *
*    *
*
*

In [26]:

x=1
while x<6:
  if x==1 or x==3 or x==5:
    print(" * * * ")
  elif x==2:
    print("*")
  else:
    print("      *")
  x=x+1

 * * *
*
 * * *
      *
 * * *

In [12]:
x=1
while x<6:
  if x==3:
    print("* * *")
  elif x==5:
    print("   * *")
  else:
    print("  *")
  x=x+1

  *
  *
* * *
  *
   * *

In [13]:
x=1
while x<5:
  if x==1:
    print("*     *")
  elif x==2:
    print("*     *")
  elif x==3:
    print(" *   *")
  else:
    print("  * *  *")
  x=x+1

*     *
*     *
 *   *
  * *  *

In [16]:
x=1
while x<5:
  if x==1:
    print("*     *")
  elif x==2:
    print(" *   *")
  elif x==3:
    print("  * *")
  else:
    print("   *")
  x=x+1

*     *
 *   *
  * *
   *

In [17]:
x=1
while x<5:
 if x==3:
  print("* *  * *")
 elif x==2:
  print("*  *   *")
 else:
  print("*      *")
 x=x+1

*      *
*  *   *
* *  * *
*      *

In [19]:
x=1
while x<6:
  if x==1 or x==5:
    print("*      *")
  elif x==3:
    print("   *")
  else:
    print(" *   *")
  x=x+1

*      *
 *   *
   *
 *   *
*      *

In [24]:
x=1
while x<6:
  if x==1:
    print("*    *")
  elif x==2:
    print(" *  *")
  elif x==3:
    print("  *")
  elif x==4:
    print(" *")
  else:
    print("*")
  x=x+1

*    *
 *  *
  *
 *
*

In [25]:
x=1
while x<5:
  if x==1 or x==4:
    print("* * *")
  elif x==2:
    print("   *")
  else:
    print(" *")
  x=x+1

* * *
   *
 *
* * *